.home {
    padding: 30px;
    margin: auto;
    width: 75%;
    .welcome {
        font-size: 20px;
        font-weight: bold;
        margin: 12px 0;
        color: @primary-color;
    }
    .projectsList {
        margin-top: 25px;
        margin-bottom: 40px;
        .projectItem {
            cursor: pointer;
            padding-left: 12px;
            padding-right: 12px;
            &:hover {
                background: rgba(128, 128, 128, 0.03);
            }
        }
    }
}