<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="<%= context.publicPath %>favicon.ico" />
        <link href="https://fonts.googleapis.com/css?family=Be+Vietnam|Concert+One|Source+Code+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="root" style="height:100vh"></div>
    </body>
</html>