.project {
    .header {
        background: rgba(29, 165, 122, 0.04);
        margin-bottom: 10px;
        padding: 16px;
        .title {
            color: @primary-color;
            .icon {
                font-size: 44px;
            }
            .text {
                display: inline-block;
                margin-left: 12px;
                font-size: 27px;
                position: relative;
                top: 4px;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .extra {
            margin-top: 3px;
            .time {
                font-weight: bold;
            }
            .descriptionLink {
                display: inline-block;
                margin-left: 32px;
                cursor: pointer;
                color: @primary-color;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .members {
            text-align: right;
            .title {
                color: black;
                font-weight: bold;
                .badge {
                    display: inline-block;
                    margin-left: 12px;
                }
                margin-bottom: 12px;
            }
        }
    }
}